<%= form_with(model: sail, local: true) do |form| %>
  <% if sail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sail.errors.count, "error") %> prohibited this sail from being saved:</h2>

      <ul>
      <% sail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :sail_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
