<p id="notice"><%= notice %></p>

<h1>sales</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <th>sale</th>
        <th><%= sale.content %></th>
        <% sale.sale_comments.each do |comment| %>
          <th>Comment</th>
          <th>
            <td><%= comment.content %></td>
          </th>  
        <% end %>
        <%= link_to 'Add saleComment', new_sale_sale_comment_path(sale.id) %>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New sale', new_sale_path %>
