<%= form_with(url: sail_sail_comments_path(@sail), local: true) do |form| %>
  <% if sail_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sail_comment.errors.count, "error") %> prohibited this sail_comment from being saved:</h2>

      <ul>
      <% sail_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, name: "sail_comment[content]" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
